*.pyc
*.elc
*.so
*.data
dotfiles/emacs.d/auto-save-list
dotfiles/emacs.d/ac-comphist.dat
dotfiles/emacs.d/recentf
dotfiles/emacs.d/places
dotfiles/emacs.d/elpa
dotfiles/emacs.d/url
dotfiles/emacs.d/kkcrc
dotfiles/emacs.d/tramp
dotfiles/emacs.d/eshell
dotfiles/emacs.d/.python-environments
